#todo-error{
  color: red;
  font-size: 2em;
}

body {
  min-height:100vh;
  display: flex;
  flex-direction: column;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

main {
  flex-grow: 1;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 50px;
  text-align: right;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 5px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.overflow-content{
  opacity: 0;
}

.overflow-content:hover{
  opacity: 1;
}




